.sidebar-container {
  width: 100%;
  height: calc(100% - 134px);
}

.container-content {
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar-navigation {
  padding: 20px;
  min-width: 320px;
}

app-admin-login {
  height: 100%;
  display: flex;
  align-items: center;
}
