.sidebar-link-item {
  display: flex;
  align-items: center;

  mat-icon {
    margin-right: 10px;
  }
}

mat-list-item {
  &.selected {
    background-color: #707070;

    &:hover,
    &:focus,
    &:active {
      background-color: #707070;
    }
  }
}
